.giving-head {
    margin: 0;
    padding-left: 100px;
    padding-top: 15px;
    background-color: black;
    color: white;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will align items at the start and end */
}

.header-content * {
    text-decoration: none;
}
.header-nav {
    display: flex;
    flex-direction: row-reverse;
}
.navigation {
    display: flex;
    padding: 10px;
    margin-right: 20px;
    align-items: baseline;
    background: transparent;
    border: none;
    color: white;
    font-size: 17px;
    gap: 10px;
    text-decoration: none;
}

.navigation a:hover {
    border: 1px solid white;
    transition: border 0.5s;
    border-radius: 4px;
    padding: 8px 16px; 
}

.text-title {
    color: white;
    padding: 10px;
   
}

/* media querries start here */
