.form {
    margin: 0;
    padding: 10px;
    background-color: rgb(0, 0, 0, 1);
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
  }
  .form-field  {
    display: flex;
    justify-content: space-between;
    border: 0px solid #000;
    border-radius: 5px;
    color: white;
    min-width: 50px;
  }
  .form-field label{
    margin-right: 10px;
    
  }
  .form-field input {
    margin: 0;
    justify-content: center;
    background-color: white;
    color: #000;
    width: 140px;
  }
.form-field textarea {
    background-color: white;
    color: #000;
    width: 140px;
}
.submit-button {
    background-color: white;
}
.submit {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.submit-button {
    background-color: white;
    color: black; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
.contact {
    padding-left: 50px;
}
